{% extends "admin/base_site.html" %}

{% block content %}
  <div id="content-main">
    <form method="post" novalidate>
      {% csrf_token %}
      {% if form.non_field_errors %}
        <p class="errornote">{{ form.non_field_errors }}</p>
      {% endif %}
      <fieldset class="module aligned">
        {% for field in form %}
          <div class="form-row{% if field.errors %} errors{% endif %}">
            {{ field.errors }}
            <div>
              {{ field.label_tag }}
              {{ field }}
              {% if field.help_text %}
                <div class="help">{{ field.help_text }}</div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </fieldset>
      <div class="submit-row">
        <input type="submit" value="Зарегистрировать" class="default">
        <a href="{% url 'admin:inventory_assetitem_changelist' %}" class="closelink">Отмена</a>
      </div>
    </form>
  </div>
{% endblock %}
